{% extends "base.html" %}
{% block content %}


<!-- ----------------HERO SECTION -->
<div class="jumbotron">

  <div class="container">

    <h1 class="display-4 main-title">
      <div class="main-title-animation">GERMAN with</div>
      <div class="d-block d-md-inline text-color">COLORS</div> 
    </h1>

    <h2 class="font-weight-light">DieDerDas game</h2>
    <p class="lead under-title">Learn German NOUNS by associating colors to the GENDERS</p>
    <hr class="my-4 bg-dark">
    <p class="lead">
      <a class="btn orange-btn " href="#how" role="button">How it works</a>
      <a class="btn orange-btn " href="#learning" role="button">Start learning</a>
    </p>
  </div>
  
</div>

<!-- ----------------HOW IT WORKS SECTION -->
<div class= 'container' id='how'>
  <div class="brain-img-container">
    <img class="brain-color-img" src="https://res.cloudinary.com/dwccjr3n4/image/upload/v1637787482/static/images/brain-color.6a41d829a11d.png" alt="">   
  </div>

  <h2 class='font-weight-light'>HOW IT WORKS</h2>
  <h3 class="font-weight-light">&#x2022 German nouns and genders</h3>
  <p>
    In German, nouns are associated with one of three genders: masculine, feminine or neuter. <br>
    How do we learn which gender is associated with a noun? <br>
    
  </p>
  <h3 class="font-weight-light">&#x2022 Why not with colors?</h3>


  <div class="row">
      <div class="col-xs-6 col-sm-4 border border-dark text-center feminin-bg pt-3 sm-mr-3">
        <p class="">FEMININ NOUNS</p>
        <p>Die <span class="feminin-example">Zeit</span> </p>
      </div>
      <div class="col-xs-6 col-sm-4 border border-dark text-center masculin-bg pt-3 sm-mr-3">
        <p class="">MASCULIN NOUNS</p>
        <p class="">Der <span class="masculin-example">Baum</span> </p>
      </div>
      <div class="col-xs-6 col-sm-4 border border-dark text-center neutral-bg pt-3">
        <p class="">NEUTER NOUNS</p>
        <p class="">Das <span class="neuter-example">Auge</span></p>
      </div>

  </div>


  <p class="pt-2">
    For example, one can associate German nouns to a color depending on the gender. <br>
 
    Do you want to try? 
    <a class="btn orange-btn pt-1 pb-2" href="#learning" role="button">Start learning</a> 
    <br> <br>
    You can also choose your colors <span class="font-weight-bold">&#x2193</span> 
  </p>

  <h3 class="font-weight-light">&#x2022 Website customization</h3>
    <div>
      Pick a color for Feminine Nouns
    <input type="color" name="feminineColorPicker" id="feminin-color-picker"/>
    </div>
    <div>
      Pick a color for Masculin Nouns
    <input type="color" name="masculinColorPicker" id="masculin-color-picker"/>
    </div>
    <div>
      Pick a color for Neutral Nouns
    <input type="color" name="neutralColorPicker" id="neutral-color-picker"/>
    </div>
    <a class="btn btn-secondary mt-2 reset-colors" href="#" role="button">Reset default colors</a>
    
  <hr class="my-4 bg-white">
</div>


 <!-- --------------------PART START LEARNING -->
<div class="container" id="learning">
  <h2 class='font-weight-light'>START LEARNING</h2>

  {% if user.is_authenticated %}
    <p>Use the default NOUNS or your owned NOUNS</p>
  {% else %}
    <p>Here you will use the default NOUNS. 
     If you register, you will be able to use your own nouns
     <a class="btn orange-btn pt-1 pb-2" href="{% url 'account_signup' %}" role="button">Register</a> 
    </p>
  {% endif %}

<div class="row">
      {% if user.is_authenticated %}
      <div class="col-6 col-md-4 col-lg-3">
        <div>Your NOUNS</div>
        <div class="diederdas-btn-group">
          <a href="{% url 'feminine_user' %}#learning">
            <button type="submit" class="btn mt-1 mr-1  diederdas-btn feminin-bg" onClick="window.location.reload();" >Die</button>
          </a>
          <a href="{% url 'masculine_user' %}#learning">
            <button type="submit" class="btn m-1 diederdas-btn masculin-bg" onClick="window.location.reload();">Der</button>
          </a>
          <a href="{% url 'neutral_user' %}#learning"> 
            <button type="submit" class="btn m-1 diederdas-btn neutral-bg" onClick="window.location.reload();">Das</button>
          </a>
        </div>
      </div>
      {% endif %}

      <!-- butons die der das -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="">Default NOUNS</div>
        {% if theme.id %}
          <div class="diederdas-btn-group">
            <a href="{% url 'categorie_feminine' theme.id %}#learning">
              <button type="submit" class="btn mt-1 mr-1  diederdas-btn feminin-bg" onClick="window.location.reload();">Die</button>
            </a>
            <a href="{% url 'categorie_masculine' theme.id %}#learning">
              <button type="submit" class="btn m-1 diederdas-btn masculin-bg" onClick="window.location.reload();">Der</button>
            </a>
            <a href="{% url 'categorie_neutral' theme.id %}#learning"> 
              <button type="submit" class="btn m-1 diederdas-btn neutral-bg" onClick="window.location.reload();">Das</button>
            </a>
          </div>
        {% else %}
          <div class="diederdas-btn-group">
            <a href="{% url 'feminine' %}#learning">
              <button type="submit" class="btn mt-1 mr-1  diederdas-btn feminin-bg" onClick="window.location.reload();">Die</button>
            </a>
            <a href="{% url 'masculine' %}#learning">
              <button type="submit" class="btn m-1 diederdas-btn masculin-bg" onClick="window.location.reload();">Der</button>
            </a>
            <a href="{% url 'neutral' %}#learning"> 
              <button type="submit" class="btn m-1 diederdas-btn neutral-bg" onClick="window.location.reload();">Das</button>
            </a>
          </div>
        {% endif %}
     
      <!-- Themes -->
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle mb-3 mt-1" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{theme}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'home' %}#learning">No theme</a>
          {% for category in categories %}
          <a class="dropdown-item" href="{% url 'go_to_category' category.id %}#learning">{{category}}</a>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>

  <div class="all-words-display-container">
    <!-- traduction and plural  -->
    <label class="form-check-label ml-4 mr-5 mb-1">
      <input type="checkbox" class="form-check-input" id="english-check-box">English
    </label>
    <label class="form-check-label">
      <input type="checkbox" class="form-check-input" id="plural-check-box">German plural
    </label>
  
    <!-- traduction and plural  -->
    <div class="row md-ml-1">
      {% for noun in nouns %}
        <div class="col-sm border border-dark text-center p-3 words-container
        {% if noun.gender %}{{ noun.gender|lower }}-bg {% endif %}">
          <p class="german-noun">{{ noun.german_noun }}</p>
          <p class="english-noun font-weight-light">{{ noun.english_noun }}</p>
          <p class="plural-noun font-weight-light">{{ noun.german_plural }}</p>
        </div>
        {% if forloop.counter|divisibleby:3 %}
      </div>
      <div class="row md-ml-1">
        {% endif %}
      {% endfor %}
    </div>

  </div> 
</div>


<!--  
{% if user.username %}
<p>Welcome {{user.username}}</p>
{% endif %}
-->

{% endblock %}