body {
  color: white; 
}

.before-footer {
  min-height: calc(100vh - 150px);
}

*{
  margin:0;
  padding:0;
  border:0;
}

button {
  color: white;
  text-decoration: none;
}

footer {
  min-height: 130px;
}

.btn {
  text-decoration: none;
}

.text-white:hover {
  color: rgb(168, 167, 167) !important;
}

a {
  text-decoration: none;
}


/* from https://stackoverflow.com/questions/11167281/webkit-css-to-control-the-box-around-the-color-in-an-inputtype-color */
input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 40px;
	height: 20px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0px;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

.orange-btn {
  background-color: #e75e2cc9;
  color: white;
}
.orange-btn:hover {
  background-color: #5f1c29c9;
  color: white;
}

.bordeaux-btn {
  background-color: #5F1C29;
  color: white;
}
.bordeaux-btn:hover {
  background-color: #7c2638;
  color: white;
}

.grey-btn {
  background-color: rgb(163, 163, 163);
  color: black;
}
.grey-btn:hover {
  background-color: rgb(122, 122, 122);
  color: white;
}

.tissu-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),
  url(../images/fabric-color.jpg) no-repeat center / cover;
}

.bg-blue {
  background-color: #06546b;
}

/* ------------ HOME */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),
   url(../images/fabric-color.jpg) no-repeat center / cover;
  color: white;
  padding-top : 150px;
  padding-bottom : 100px;
}

.main-title {
  display: grid; 
  width: 50%; 
  grid-template-columns: 1fr 1fr; 
}

.main-title-animation {
  width: 350px;
}

.brain-img-container {
  height: 40px;
  position: relative;
}
.brain-color-img {
  width: 140px;
  position: absolute;
  left: -40px;
  top: -40px;
}

.diederdas-btn-group, .dropdown {
  display: flex;
  padding-bottom: 3px;
}

.diederdas-btn:hover, .nav-link:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.all-words-display-container {
  max-width: 700px;
  justify-content: left;
}

.words-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  font-size: 15px;
  border-radius: 5px;
}

.words-container .german-noun {
  font-size: 20px;
}

.words-container .english-noun {
  font-style:italic;
  position: absolute; 
  bottom: 20px;
  opacity: 0;
}

.words-container .plural-noun {
  position: absolute; 
  bottom: -5px;
  opacity: 0;
}

/* ------------ DASHBOARD */
.dashboard-title {
  padding-top : 80px;
}


/* small screens */
@media (max-width: 768px) {
  .main-title {
    display: block; 
  }
}

@media (max-width: 411px) {
  .main-title-animation {
    width: 100%;
  }
}
