body {
  color: white;   
}

*{
  margin:0;
  padding:0;
  border:0;
}

button {
  color: white;
  text-decoration: none;
}

.btn {
  text-decoration: none;
}

a {
  text-decoration: none;
}

/* ------------ HOME */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)),
   url(../images/colour.jpg) no-repeat center / cover;
  color: white;
  padding-top : 150px;
}

.diederdas-btn-group, .dropdown {
  display: flex;
  padding-bottom: 3px;
}

.diederdas-btn:hover, .nav-link:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
}

.all-words-display-container {
  max-width: 700px;
  justify-content: left;
}

.words-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
  font-size: 15px;
  border-radius: 5px;
}

.words-container .german-noun {
  font-size: 20px;
}

.words-container .english-noun {
  font-style:italic;
  position: absolute; 
  bottom: 20px;
  opacity: 0;
}

.words-container .plural-noun {
  position: absolute; 
  bottom: -5px;
  opacity: 0;
}

/* ------------ DASHBOARD */
.dashboard-title {
  padding-top : 80px;
}
