{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- css customized -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Project4</title>
</head>
<body class="bg-blue">

<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-dark tissu-bg fixed-top">
    <a class="navbar-brand" href="{% url 'home' %}">DieDerDas</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'account_login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="{% url 'account_signup' %}">Register</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>

{% block content %}
<!-- Content Goes here -->
{% endblock content %}

<footer class="footer  py-4 mt-5 tissu-bg text-white">
    <p class="m-0 text-center">Designed to learn with colors</p>
    
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/TextPlugin.min.js"></script>
<script type="module" src="{% static 'scripts/home/home.js' %}"></script>

</body>
</html>