{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2>Add your ToDo Item</h2>
    <form method="POST" action="add_todo_item">
        {% csrf_token %}
        <div>
            <p>
                <label for="id_name">Name:</label>
                <input type="text" id="id_name" name="item_name"/>
            </p>
        </div>
        <div>
            <p>
                <label for="id_done">Done:</label>
                <input type="checkbox" id="id_done" name="done"/>
            </p>
        </div>
        <div>
            <p>
                <button class="btn btn-info btn-sm mb-2" type="submit">Add Item</button>   
            </p>
        </div>
    </form>
</div>
   
{%endblock%}
